---
title: Белое море - 2011, 2013 года
description: Фотографии с поездок на Белое море в самую короткую ночь в году
---
{% block content %}

  <p>
    <a href="https://img-fotki.yandex.ru/get/9222/46045840.28/0_98765_7fc8895f_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9222/46045840.28/0_98765_7fc8895f_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9312/46045840.28/0_98748_e6ab013e_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9312/46045840.28/0_98748_e6ab013e_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9231/46045840.28/0_98749_b4fb46a9_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9231/46045840.28/0_98749_b4fb46a9_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9305/46045840.28/0_9874a_afbf859b_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9305/46045840.28/0_9874a_afbf859b_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9171/46045840.28/0_98747_7d4ca4c9_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9171/46045840.28/0_98747_7d4ca4c9_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9217/46045840.28/0_9874b_e42da6b4_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9217/46045840.28/0_9874b_e42da6b4_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9228/46045840.28/0_9874f_9af8aa8f_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9228/46045840.28/0_9874f_9af8aa8f_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9301/46045840.28/0_9875a_d96bfbd7_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9301/46045840.28/0_9875a_d96bfbd7_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/9324/46045840.28/0_98756_13fee051_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/9324/46045840.28/0_98756_13fee051_XL.jpg"/>
    </a>
  </p>

{% endblock %}
