---
title: Зимний туман
description: Фотографи набережной Седова, сделанные в туманный зимний день
---
{% block content %}

  <p>
    <a href="https://img-fotki.yandex.ru/get/5821/46045840.24/0_6f263_3e1f58f6_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/5821/46045840.24/0_6f263_3e1f58f6_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/4419/46045840.24/0_6f25c_397758c6_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/4419/46045840.24/0_6f25c_397758c6_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/5313/46045840.24/0_6f256_e62604eb_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/5313/46045840.24/0_6f256_e62604eb_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/5313/46045840.24/0_6f257_5eaf214c_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/5313/46045840.24/0_6f257_5eaf214c_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/4614/46045840.24/0_6f259_3caa7abe_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/4614/46045840.24/0_6f259_3caa7abe_XXXL.jpg"/>
    </a>
  </p>

  <p>
    <a class="photo-link" href="https://img-fotki.yandex.ru/get/4419/46045840.24/0_6f25a_4f1fa9ef_XXXL.jpg">
      <img class="photo-image" src="https://img-fotki.yandex.ru/get/4419/46045840.24/0_6f25a_4f1fa9ef_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/4614/46045840.24/0_6f25b_8a14fb24_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/4614/46045840.24/0_6f25b_8a14fb24_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/4419/46045840.24/0_6f25d_b4fd58d3_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/4419/46045840.24/0_6f25d_b4fd58d3_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/4614/46045840.24/0_6f25f_b60733cd_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/4614/46045840.24/0_6f25f_b60733cd_XL.jpg"/>
    </a>
  </p>

  <p>
    <a href="https://img-fotki.yandex.ru/get/4418/46045840.24/0_6f255_c458f69c_XXXL.jpg">
      <img src="https://img-fotki.yandex.ru/get/4418/46045840.24/0_6f255_c458f69c_XL.jpg"/>
    </a>
  </p>

{% endblock %}
