@import '../vars';
@import '../base_style';

.album-content {
    img {
        max-width: 100%;
    }

    .photo-item {
        margin-bottom: 0.6em;
    }

    .photo-link {
        display: block;
    }

    .photo-image {
        display: block;
    }
}
