{% extends 'internal.html.twig' %}

{% block css %}
  <link rel="stylesheet" href="{{ hashed_asset('/static/layout_album.css') }}">
{% endblock %}

{% block main %}
  <main class="content album-content">
    {% block content %}{% endblock %}
  </main>
{% endblock %}
