<!DOCTYPE html>
<html>
<head>
  {% include 'head.twig' %}
  <link rel="stylesheet" href="/static/layout_default.css?v={{ date().timestamp }}">
  {% block css %}{% endblock %}
</head>
<body>

  <main class="content">
    {% block content %}{% endblock %}
  </main>

  {% include 'counters.twig' %}

  <script async src="/static/layout_default.js?v={{ date().timestamp }}"></script>
  {% block js %}{% endblock %}

  {% include 'font-awesome.twig' %}
</body>
</html>
