<!DOCTYPE html>
<html>
<head>
  {% include 'head.twig' %}
</head>
<body>

  <main class="content">
    {% block content %}{% endblock %}
  </main>

  {% include 'counters.twig' %}

  <script src="/static/layout_default.js?v={{ date().timestamp }}"></script>

  {% block js %}
      {# extra js scripts here #}
  {% endblock %}

</body>
</html>
