{% extends 'base.html.twig' %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ hashed_asset('/static/layout_default.css') }}">
{% endblock %}

{% block js %}
  {{ parent() }}
  <script async src="{{ hashed_asset('/static/layout_default.js') }}"></script>
{% endblock %}

{% block page_conent %}
  <main class="content">
    {% block content %}{% endblock %}
  </main>
{% endblock %}
