<!DOCTYPE html>
<html>
<head>
  {% include 'head.twig' %}
  <link rel="stylesheet" href="{{ hashed_asset('/static/layout_default.css') }}">
  {% block css %}{% endblock %}
</head>
<body>

  {% include 'adv.twig' %}

  <main class="content">
    {% block content %}{% endblock %}
  </main>

  {% include 'counters.twig' %}

  <script async src="{{ hashed_asset('/static/layout_default.js') }}"></script>
  {% block js %}{% endblock %}

  {% include 'font-awesome.twig' %}
</body>
</html>
