{% extends 'base.html.twig' %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ hashed_asset('/static/layout_internal.css') }}">
{% endblock %}

{% block js %}
  {{ parent() }}
  <script async src="{{ hashed_asset('/static/layout_internal.js') }}"></script>
{% endblock %}

{% block page_content %}
  <div class="page">
    {% include 'navigation.twig' %}
    {% block main %}
      <main class="content">
        {% block content %}{% endblock %}
      </main>
    {% endblock %}
  </div>
{% endblock %}
