<!DOCTYPE html>
<html>
<head>
  {% include 'head.twig' %}
  <link rel="stylesheet" href="/static/layout_internal.css?v={{ date().timestamp }}">
  {% block css %}{% endblock %}
</head>
<body>

  <div class="page">

    {% include 'navigation.twig' %}

    <main class="content">
      {% block content %}{% endblock %}
    </main>

  </div>

  {% include 'counters.twig' %}

  <script async src="/static/layout_internal.js?v={{ date().timestamp }}"></script>
  {% block js %}{% endblock %}
</body>
</html>
