<!DOCTYPE html>
<html>
<head>
  {% include 'head.twig' %}
  <link rel="stylesheet" href="{{ hashed_asset('/static/layout_internal.css') }}">
  {% block css %}{% endblock %}
</head>
<body>

  {% include 'adv.twig' %}

  <div class="page">

    {% include 'navigation.twig' %}

    {% block main %}
      <main class="content">
        {% block content %}{% endblock %}
      </main>
    {% endblock %}

  </div>

  {% include 'counters.twig' %}

  <script async src="{{ hashed_asset('/static/layout_internal.js') }}"></script>
  {% block js %}{% endblock %}

  {% include 'font-awesome.twig' %}
</body>
</html>
