@import 'vars';

html,
body {
    font-size: $base-font-size;
    font-family: 'PT Serif', serif;
    padding: 0;
    margin: 0;

    @media (max-width: $preferred-width - 1px) {
        font-size: $base-font-size - 2px;
        margin: {
            left: 0.8em;
            right: 0.8em;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
