@import 'vars';

html,
body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $base-font-color;
    padding: 0;
    margin: 0;

    @media (max-width: $first-media-step) {
        font-size: $base-font-size - 2px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a:not(:visited) {
    color: $link-color;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

.hr-line {
    height: 0;
    display: block;
    border-bottom: 1px solid #eee;
    margin: 2em 0;
}
