$base-font-family: 'PT Serif', serif;
$base-monospace-font-family: 'PT Mono', monospace;

// Базовый размер шрифта
$base-font-size: 20px;
$base-font-color: #24292e; // from github

// Ширина страницы
$preferred-width: 700px;

$first-media-step: $preferred-width - 1px;

$mobile-margin: 0.8em;
