$base-font-family: 'PT Serif', serif;
$base-monospace-font-family: 'Source Code Pro', monospace;

// Базовый размер шрифта
$base-font-size: 20px;
$base-font-color: #24292e; // from github

// Цвет ссылок
$link-color: #0366d6; // from github

// Ширина страницы
$preferred-width: 740px;

$first-media-step: $preferred-width - 1px;

$mobile-margin: 0.8em;

$rule-color: #e6e6e6;
