@import '../vars';

$button-border-radius: 0.5em;
$button-background-color: #405480;

%button {
    display: inline-block;
    color: #fff;
    background-color: $button-background-color;
    padding: 0.6em 1.2em;
    border: none;
    font-size: 100%;
    font-family: inherit;
    border-radius: $button-border-radius;
    cursor: pointer;

    &:hover {
        background-color: darken($button-background-color, 10%);
    }
}
