server {
    listen 80;
    server_name {{ nginx_conf_domain }} www.{{ nginx_conf_domain }};

    location / {
        root {{ nginx_conf_root }};
        index index.html;
        try_files $uri $uri/ =404;
    }

    {% if not nginx_conf_sendfile|default(true) %}
    sendfile off;
    {% endif %}
}
