---
layout: default
title: Обо мне
---

{% block content %}

  <section class="about-me">
    <div class="about-me__content">

      <div class="about-me__note" id="about-me-note">Я люблю шоколад.</div>

      <ul class="about-me__links">
        <li class="about-me__link">
          <a href="/">На главную</a>
        </li>
        <li class="about-me__link">
          <a id="know-better" href="#">Узнать чуть лучше</a>
        </li>
      </ul>

    </div>
  </section>

{% endblock %}
