---
layout: internal
title: Обо мне
---

{% block js %}
  <script src="/static/about_me.js?v={{ date().timestamp }}"></script>
{% endblock %}

{% block content %}

  <div id="app"></div>

{% endblock %}
