@import '../vars';

.social {
    list-style: none;
    padding: 0;
    margin: 2.4em 0;
    display: block;
    text-align: left;

    &__item {
        display: inline-block;
        margin: 0.25em 0.5em;
        font-size: 120%;
    }

    &__link {
        color: inherit;
    }

    &__link:hover {
        color: $link-color;
    }
}
