@import '../vars';
@import '../base_style';

.content {
    width: $preferred-width;
    margin: 0 auto;

    @media (max-width: $first-media-step) {
        width: auto;
        margin: {
            left: $mobile-margin;
            right: $mobile-margin;
        }
    }

    @import 'social';

    .name {
        margin-top: 0.6em;
        font-size: 2.4em;
        margin-bottom: 0.3em;
        font-weight: bold;

        @media (max-width: $first-media-step) {
            margin-top: $mobile-margin;
        }
    }

    .info {
        margin-top: 0;
        margin-bottom: 0.8em;
    }

    .year-title {
        font-weight: bold;
    }
}
