@import '../vars';
@import '../base_style';
@import 'navigation';

.page {
    width: $preferred-width;
    margin: 0 auto;

    @media (max-width: $first-media-step) {
        width: auto;
        margin-left: $mobile-margin;
        margin-right: $mobile-margin;
    }
}

.content {
    margin-bottom: 3em;

    @import 'content-tags';
    @import 'youtube-embed';
}
