@import '../styles/vars';
@import '../styles/base_style';

.navigation {
    display: block;
    border-bottom: 1px solid #eee;
}

.navigation__actions {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__action {
    display: inline-block;
    margin: {
        top: 1em;
        bottom: 1em;
    }
}

.navigation__link {
}

.page {
    width: $preferred-width;
    margin: 0 auto;

    @media (max-width: 839px) {
        width: auto;
    }

    @media (max-width: 480px) {
        width: auto;
    }
}

.content {
}
