<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="yandex-verification" content="eb6443fccb57d7d2" />
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">
<title>
  {% if page.title is defined %}
    {{ page.title }} - {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
