<nav class="navigation">
  <ul class="navigation__actions">
    <li class="navigation__action">
      <a class="navigation__link" href="/">Главная</a>
    </li>
    <li class="navigation__action">
      <a class="navigation__link" href="/articles/">Заметки</a>
    </li>
  </ul>
</nav>
