---
layout: default
description: Личный сайт Антона Вахрушева
---
{% block css %}
  <link rel="stylesheet" href="{{ hashed_asset('/static/index.css') }}">
{% endblock %}

{% block content %}

  <h1>404</h1>

  <p>Ой, страница не найдена.</p>

  <p>Придется продолжить с <a href="/">главной</a>.</p>

{% endblock %}
