---
layout: internal
title: Фотоальбомы
description: Фотоальбомы
use: [albums]
---
{% block content %}

  <h1>{{ page.title }}</h1>

  <ul>
    {% for album in data.albums %}
      <li>
        <p>
          <a href="{{ album.url }}">{{ album.title }}</a>
          {% if album.description %}
            <br>
            {{ album.description }}
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
