---
layout: base
description: Личный сайт Антона Вахрушева
use: [articles]
---

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ hashed_asset('/static/index.css') }}">
{% endblock %}

{% block js %}
  {{ parent() }}
  <script async src="{{ hashed_asset('/static/index.js') }}"></script>
{% endblock %}

{% block page_content %}

  <main class="content">

    <h1 class="name">Антов Вахрушев</h1>

    <p class="info">
      Я веб-программист в <a href="https://elama.ru/">eLama</a>. Пишу на PHP.
      Предпочитаю разработку back-end, экспериментирую с front-end, интересуюсь функциональным программированием.
      Иногда <a href="/albums">фотографирую</a>.
    </p>

    <span class="hr-line"></span>

    {% include 'article_list.twig' %}

    <span class="hr-line"></span>

    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="mailto:anton@vakhrushev.me" target="_blank" title="Написать на почту">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://github.com/anwinged" target="_blank" title="Код на Гитхабе">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://instagram.com/anwinged" target="_blank" title="Фотографии в Инстаграме">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="/about" target="_blank" title="Об авторе">
          <i class="fas fa-ghost"></i>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="/wishlist" target="_blank" title="Вишлист">
          <i class="fas fa-socks"></i>
        </a>
      </li>
    </ul>

  </main>

{% endblock %}
