---
layout: default
---
{% block content %}
  <h1 class="hello">Привет,</h1>

  <p class="text">
    меня зовут Антон Вахрушев, и&nbsp;это моя домашняя страница.
  </p>

  <h2 class="heading">Смотреть</h2>
  <ul>
    <li>
      <a href="https://500px.com/anwinged" target="_blank">хорошие фотографии</a>
    </li>
  </ul>

  <h2 class="heading">Читать</h2>
  <ul>
    <li>
      <a href="https://github.com/anwinged" target="_blank">код на гитхабе</a>
    </li>
    <li>
      <a href="https://anwinged.blogspot.ru" target="_blank">блог</a>
    </li>
    <li>
      <a href="/about/me">обо мне</a>
    </li>
  </ul>

  <h2 class="heading">Написать</h2>
  <ul>
    <li>
      <a href="https://vk.com/anwinged" target="_blank">вконтакте</a>
    </li>
    <li>
      <a href="mailto:anwinged@yandex.ru">на почту</a>
    </li>
  </ul>
{% endblock %}
