---
layout: default
---
{% block content %}
  <h1 class="greeting">Здравствуйте,</h1>
  <h1 class="hello">Привет,</h1>

  <p class="text">
    меня зовут Антон Вахрушев, и&nbsp;это моя домашняя страница.<br>
    Здесь вы&nbsp;можете.
  </p>

  <h2 class="heading">Смотреть</h2>
  <ul>
    <li>
      <a href="https://500px.com/anwinged" target="_blank">хорошие фотографии</a>
    </li>
    <li>
      <a href="https://www.instagram.com/anwinged/" target="_blank">плохие фотографии</a>
    </li>
    <li>
      <a href="https://www.kinopoisk.ru/user/2639698/votes/" target="_blank">какие фильмы я люблю</a>
    </li>
    <li>
      <a href="https://fantlab.ru/user70525/marks?sort=date&type=all" target="_blank">что из книг со мной обсудить</a>
    </li>
  </ul>

  <h2 class="heading">Читать</h2>
  <ul>
    <li>
      <a href="https://github.com/anwinged" target="_blank">код на гитхабе</a>
    </li>
    <li>
      <a href="https://anwinged.blogspot.ru" target="_blank">заброшенный блог</a>
    </li>
    <li>
      <a href="/about/me">немного фактов обо мне</a>
    </li>
  </ul>

  <h2 class="heading">Похвалить</h2>
  <ul>
    <li>
      <a href="https://www.strava.com/athletes/10299548" target="_blank">за спортивные успехи</a>
    </li>
  </ul>

  <h2 class="heading">Написать</h2>
  <ul>
    <li>
      <a href="https://vk.com/anwinged" target="_blank">вконтакте</a>
    </li>
    <li>
      <a href="mailto:anwinged@yandex.ru">на почту</a>
    </li>
  </ul>
{% endblock %}
