---
layout: default
description: Личный сайт Антона Вахрушева
---
{% block css %}
  <link rel="stylesheet" href="/static/index.css?v={{ date().timestamp }}">
{% endblock %}

{% block content %}
  <h1 class="hello">Привет,</h1>

  <p class="text">
    меня зовут Антон Вахрушев, и&nbsp;это моя домашняя страница.
  </p>

  <h2 class="heading">Исследоать</h2>
  <ul>
    <li>
      <a href="/projects/predictor/">электронная гадалка Шеннона</a>
    </li>
  </ul>

  <h2 class="heading">Читать</h2>
  <ul>
    <li>
      <a href="/about/me/">об авторе</a>
    </li>
    <li>
      <a href="/wishlist/">вишлист</a>
    </li>
  </ul>

  <span class="hr-line"></span>

  <ul class="social">
    <li class="social__item">
      <a class="social__link" href="https://github.com/anwinged" target="_blank" title="Код на Гитхабе">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link" href="https://500px.com/anwinged" target="_blank" title="Фотографии на 500px">
        <i class="fab fa-500px"></i>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link" href="https://vk.com/anwinged" target="_blank" title="Профиль на Вконтакте">
        <i class="fab fa-vk"></i>
      </a>
    </li>
    <li class="social__item">
      <a class="social__link" href="https://instagram.com/anwinged" target="_blank" title="Фотографии в Инстаграме">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>

{% endblock %}
