---
layout: internal
title: Вишлист
description: Список вещей, которые можно подарить
---
<h1>Вишлист</h1>

<ul>
    <li>
        Книга <a href="https://store.artlebedev.ru/books/izdal/yazyk-shablonov/" target="_blank">Язык шаблонов</a>
    </li>
    <li>
        Книга <a href="https://www.ozon.ru/context/detail/id/2153578/" target="_blank">Практическая криптография</a>
    </li>
    <li>
        Книга <a href="https://www.ozon.ru/context/detail/id/135178325/" target="_blank">Советские автобусные остановки</a>
    </li>
    <li>
        Книга <a href="https://www.ozon.ru/context/detail/id/142793401/" target="_blank">Советские автобусные остановки. Том 2</a>
    </li>
    <li>
        Наушники <a href="https://market.yandex.ru/product--naushniki-sennheiser-ie-4/1037144" target="_blank">Sennheiser IE 4</a>
    </li>
    <li>
        Плакат <a href="http://plaqat.ru/posters/minimal/34604" target="_blank">Keep Calm</a> средний или большой
    </li>
    <li>
        Настольная игра <a href="https://tesera.ru/game/pomors/" target="_blank">Поморы</a>
    </li>
    <li>
        Графические романы. Любой с необычным сюжетом или красивой рисовкой, но только не супергероика
    </li>
</ul>

<p>
    Если ничего из перечисленного не подошло, то булка и банка Нутеллы всегда спасут ситуацию :-)
</p>
