---
layout: internal
title: Вишлист
description: Список вещей, которые можно подарить
---
<h1>Вишлист</h1>

<ul>
    <li>
        Книга <a href="https://store.artlebedev.ru/books/izdal/yazyk-shablonov/">Язык шаблонов</a>
    </li>
    <li>
        Книга <a href="https://www.ozon.ru/context/detail/id/3844726/">Путь к реальности, или Законы, управляющие
            Вселенной</a>
    </li>
    <li>
        Книга <a href="https://www.ozon.ru/context/detail/id/2153578/">Практическая криптография</a>
    </li>
    <li>
        <del>Кошелек <a href="https://zavtra.co/product/zavtra/">Zavtra</a></del>
    </li>
    <li>
        Наушники <a href="https://market.yandex.ru/product--naushniki-sennheiser-ie-4/1037144">Sennheiser IE 4</a>
    </li>
    <li>
        Плакат <a href="https://store.artlebedev.ru/for-programmers/100-knig/">100 книг</a>
    </li>
    <li>
        Плакат <a href="http://plaqat.ru/posters/minimal/34604">Keep Calm</a> средний или большой
    </li>
    <li>
        Открытки Тома Голда <a href="https://www.ozon.ru/context/detail/id/148534833/">15 открыток для любителей книг</a>
    </li>
    <li>
        Настольная игра <a href="https://tesera.ru/game/pomors/">Поморы</a>
    </li>
    <li>
        Графические романы. Любой с необычным сюжетом или красивой рисовкой, но только не супергероика
    </li>
</ul>

<p>
    Если ничего из перечисленного не подошло, то булка и банка Нутеллы всегда спасут ситуацию :-)
</p>
