---
layout: internal
title: Вишлист
---
{% block content %}

  <h1>Вишлист</h1>

  <ul>
    <li>
      <a href="https://store.artlebedev.ru/books/calligraphy/kniga-pro-bukvy2/" target="_blank">
        Книга про буквы от&nbsp;Аа до&nbsp;Яя
      </a>
    </li>
    <li>
      <a href="https://store.artlebedev.ru/books/izdal/yazyk-shablonov/" target="_blank">
        Язык&nbsp;шаблонов
      </a>
    </li>
  </ul>

{% endblock %}
