---
layout: internal
title: Вишлист
description: Список вещей, которые можно подарить
---
<h1>Вишлист</h1>

<ul>
    <li>
        Плакат <a href="http://plaqat.ru/posters/minimal/34604" target="_blank">Keep Calm</a> средний или большой
    </li>
    <li>
        Настольная игра <a href="https://tesera.ru/game/pomors/" target="_blank">Поморы</a>
    </li>
    <li>
        Графические романы. Любой с необычным сюжетом или красивой рисовкой, но только не супергероика
    </li>
</ul>

<p>
    Если ничего из перечисленного не подошло, то булка и банка Нутеллы всегда спасут ситуацию :-)
</p>
