---
layout: internal
title: Гадалка
description: Демо-версия электронной гадалки Шеннона
---

{% block js %}
  <script async src="/static/predictor.js?v={{ date().timestamp }}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/predictor.css?v={{ date().timestamp }}">
{% endblock %}

{% block content %}

  <h1>Гадалка</h1>

  <p>
    Правила игры простые. Робот пытается предсказать, что выберет человек: чет или нечет.
    Если предсказание удалось, робот получает очко, а счет уменьшается на единицу.
    Если же предугадать выбор не удалось, то очко достается человеку, а счет увеличивается.
    Игрок победит, если доберется до 50 очков. Но когда счет опустится до -50, победа будет
    за железякой.
  </p>

  <p>
    Чтобы выбирать вариант с клавиатуры, кликните внутри серой рамки,
    а потом пользуйтесь клавишами "1" - нечет или "2" - чет.
  </p>

  <ul>
    <li>
      <a href="https://github.com/anwinged/predictor" target="_blank">Код гадалки на Github</a>
    </li>
    <li>
      <a href="https://github.com/anwinged/homepage/blob/master/source/_assets/predictor/demo.vue" target="_blank">Код этого примера</a>
    </li>
  </ul>

  <span class="hr-line"></span>

  <div id="app"></div>

{% endblock %}
