---
layout: internal
title: Электронная гадалка Шеннона
description: Демо-версия электронной гадалки Шеннона
keywords: [гадалка, угадыватель, шеннон, чет-нечет]
---

{% block js %}
  <script async src="{{ hashed_asset('/static/predictor.js') }}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ hashed_asset('/static/predictor.css') }}">
{% endblock %}

{% block content %}

  <h1>{{ page.title }}</h1>

  <p>
    Правила игры простые. Робот пытается предсказать, что выберет человек: чет или нечет.
    Если предсказание удалось, робот получает очко, а счет уменьшается на единицу.
    Если же предугадать выбор не удалось, то очко достается человеку, а счет увеличивается.
    Игрок победит, если доберется до 50 очков. Но когда счет опустится до -50, победа будет
    за железякой.
  </p>

  <p>
    Чтобы выбирать вариант с клавиатуры, кликните внутри серой рамки,
    а потом пользуйтесь клавишами "1" - нечет или "2" - чет.
  </p>

  <ul>
    <li>
      <a href="https://github.com/anwinged/homepage/blob/master/source/_assets/predictor/demo.vue" target="_blank">Код гадалки</a>
    </li>
  </ul>

  <span class="hr-line"></span>

  <div id="app"></div>

{% endblock %}
