@import '../vars';
@import '../base_style';

.content {
    width: $preferred-width;
    margin: 0 auto;

    @media (max-width: $first-media-step) {
        width: auto;
        margin: {
            left: $mobile-margin;
            right: $mobile-margin;
        }
    }
}

.hello {
    margin-top: 1em;
    font-size: 3.4em;
    margin-bottom: 0.3em;
    font-weight: normal;

    @media (max-width: $first-media-step) {
        margin-top: $mobile-margin;
    }
}

.heading {
    margin-top: 2.3em;
    margin-bottom: 0.4em;
    font-size: 1.2em;
    font-weight: normal;
}

.text {
    margin-top: 0;
    margin-bottom: 0.8em;
}
