@import '../common/base_style.scss';

.content {
    width: 840px;
    margin: 0 auto;

    @media (max-width: 839px) {
        margin: 20px 0;
        width: auto;
    }

    @media (max-width: 480px) {
        margin: 10px 0;
        width: auto;
    }
}

.hello {
    margin-top: 1em;
    font-size: 3.4em;
    margin-bottom: 0.3em;
    font-weight: normal;

    @media (max-width: 839px) {
        margin-top: 0.8em;
    }
}

.heading {
    margin-top: 2.3em;
    margin-bottom: 0.4em;
    font-size: 1.2em;
    font-weight: normal;
}

.text {
    margin-top: 0;
    margin-bottom: 0.8em;
}
